<h1>Form sample</h1>
<div class="form" [formGroup]="sampleFormGroup">
  <ng-container *ngFor="let element of formElements; trackBy: trackByFun">
    <app-input-group formControlName="{{element.formControlName}}" [fieldDescription]="element.fieldDescription"
      [fieldType]="element.fieldType" [isError]="checkIfError(element.formControlName)"
      [options]="element.options" [isRequired]="element.isRequired" [errorMessages]="getErrorMessage(element)">
    </app-input-group>
  </ng-container>
</div>